:root{
    --dark-blue:#0887CC;
    --blue:#009EE8;
    --light-blue:#CFEFFF;
    --white:#ffff;
    --light-gray:#B3B3B3;
    --gray:#4D4D4D;
    --black:#000;
    --red:#EF5C53;
    --yellow:#FFF3C4;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p{
    color: var(--gray);
}
label{
    color: var(--gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
textarea{
    resize: none;
}
.container{
    width: 1360px;
}
.title-blue{
    color: var(--blue);
}
.ml280{
    margin-left: 280px;
}

/* NAV HEAD  */

.nav-head{
    padding-top: 24px;
    padding-bottom: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 408px;
    height: 49px;
}
.select-large{
    display: flex;
}
.js-choice{
    margin-right: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    color: var(--gray);
    background-color: var(--white);
}
.js-choice::after{
    content: url(/public/images/keyboard-arrow-down.svg);
    height: 0;
    width: 0;
    /* margin-left: 0.5rem;
    padding-right: 1rem; */
    position: absolute;
}
.option-nav{
    border: none;
    color: var(--gray);
    background-color: var(--white);
}
.search{
    display: flex;
    align-items: center;
}
.input-search{
    width: 234px;
    height: 32px;
    padding: 0;
    border:1px solid var(--light-gray);
    cursor: pointer;
}
.bacground-search{
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

/* CONTACTS */

.contacts{
    width: 1920px;
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    overflow: visible;
}
.link-contacts{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
}
.link-contacts::after{
    content: '';
    /* margin-left: 0.5rem; */
    padding-right: 1rem;
    background-image:url(/public/images/chevron-right.svg);
    background-repeat:no-repeat;
}
.contacts{
    padding-bottom: 65px;
}
.links-contats{
    padding: 14px 14px 14px 0px
}
.contacts-text{
    padding-top: 48px;
    display: flex;
    align-content: center;
}
.heading-contats{
    display: flex;
    align-items: center;
    color: var(--gray);
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.delimiter{
    width: 6px;
    height: 105px;
    margin-left: 35px;
    background-image:url(/public/images/line-1.svg);
    background-repeat: no-repeat;
}
.p-contacts{
    width: 538px;
    padding-left: 30px;
    color:var(--gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* WRITE US */

.forms{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
}
.two-colum{
    display: flex;  
}
.labels{
    display: flex;
    flex-direction: column;
    /* padding-right: 76px; */
    padding-top: 68px;
}
.labels label{
    width: 161px;
    padding-bottom: 31px;
}
.inputs{
    padding-top: 61px;
    display: flex;
    flex-direction: column;
}
/* .inputs::after{
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090 url(/img/loading.gif) center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
}
.inputs._sending::after{
    opacity: 1;
    visibility: visible;
} */
/* .inputs label:not(:last-child){
    padding-bottom: 31px;
} */
.input {
    padding-bottom: 20px;
    align-self: start;
}
.choices__inner{
    width: 546px;
    padding: 0;
    min-height: auto;
    border-radius: 0px;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    color: var(--light-gray);
}
.is-open .choices__inner{
    width: 546px;
    min-height: auto;
    border-radius: 0px;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
}
#choices--subject-item-choice-7{
    display: none;
    color: var(--light-gray);

}
.choices[data-type*="select-one"]::after {
    content: url(/img/example.svg);
    border-style: none;
    border-color: inherit;
    border-width: 0;
    position: absolute;
    right: 32.5px;
    top: 0%;
    margin-top: 0.5px;
    /* transition: all 0.1s ease-out; */
}
.choices[data-type*="select-one"].is-open:after{
    top: 85%;
    right: 0px;
    margin-top: 4.5px;
    transform: rotate(180deg);
}
.choices__list--single {
    padding: 10px 0px 0px 8px;
}
.input-form{
    width: 539px;
    height: 28px;
    border: 1px solid var(--light-gray);
}
.input-form::placeholder{
    color: var(--light-gray);
}
.input-form._error{
    border: 1px solid var(--red);
    
}
.placeholder{
    color: var(--light-gray);
}
#questions{
    width: 539px;
    height: 134px;
    border: 1px solid var(--light-gray);
}
#questions._error{
    border: 1px solid var(--red);
}
.inp-bottom-block{
    display: flex;
    justify-content: space-between;
}
.danger-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--red);
}
.big-danger-text{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--red);
}
.btn-forms{
    padding:16px 59px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--white);
    background-color:var(--blue);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn-forms:focus,.btn-forms:hover{
    background-color:var(--dark-blue);
}
.right{
    width: 315px;
    padding-left: 58px;
    padding-top: 129px;
}
.right p{
    width: 594px;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pop-up{
    margin-left: 300px;
    position: fixed;
    display: flex;
    /* justify-content: center; */
    align-items: start;
    opacity: 0;
    visibility: hidden;  
}
.pop-up.open{
    opacity: 1;
    visibility: visible;
}
.pop-up_body{
    width: 510px;
    /* height: 142px; */
    padding: 38px 0px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: var(--yellow);  
    transition: all 0.8s ease 0s;
}
.pop-up_txt{
    padding-top: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #4D4D4D;
}
.pop-up_btn{
    width: 27px;
    height: 27px;
    border:none;
    background-image:url(/public/images/frame-1.svg) ;
    background-repeat:no-repeat;
    cursor: pointer;
}

/* CONTACT MAIL */

.contacts-mail{
    width: 1920px;
    height: 117px;
    padding-top: 43px;
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--light-blue);
    background-image: url(/public/images/frame-2.svg);
    background-repeat: no-repeat;
    background-position: 42.1%;
}
.img-contacts{
    padding-left: 162px;
}
.title-mail{
    padding-bottom: 15px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.img-contacts p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:var(--gray);
}
.txt-block-mail{
    width: 256px;
}
.contacts-mail-txt{
    width: 286px;
}

/* banks */

.banks{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 62px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.banks h2{
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    /* min-height: 100%; */
    list-style: none;
    padding-top: 60px;
}
.card{
    display: flex;
}
.card:not(:nth-child(4n)) {
    margin-right: 67px;
}
.card:nth-child(-n + 4) {
    padding-bottom: 61px;
}
.card:nth-child(6){
    margin-right: 57px;
}
.title-bank{
    padding-left: 16px;
    padding-top: 9px;
}
.text-bank{
    padding-left: 10px;
    margin-top: 18px;
    background-image:url(/public/images/line-2.svg);
    background-repeat:no-repeat;
    background-position-x: 9px;
}
.text{
    width: 149px;
    padding-top: 10px;
    padding-left: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--gray);
}
.text b:hover{
    border-bottom: 1px solid var(--gray);
}

/* Footer */

.footer{
    padding-top: 27px;
    background-image:url(/img/BG-footer.png);
    background-repeat:no-repeat;
}
.nav-footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.links-footer{
    padding-right: 250px;
    display: flex;
}
.li-footer{
    padding-right: 29px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white);
}
.contacts-footer{
    padding-top: 23px;
    padding-bottom: 19px;
    display: flex;  
    justify-content: space-between;
    border-bottom: 1px solid #FAF4F080; 
}
.p-footer{
    width: 280px;
    margin-left: 280px;
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p-footer-soc{
    padding-right: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white);
}
.social{
    padding-right: 270px;
    display: flex;
    align-items:center;
}
.social a{
    padding-right: 10px;
}
.text-footer{
    padding-top: 20px;
    padding-bottom: 44px;
    margin-right: 283px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--white);
}